* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    background-color: #ffffff;
}

.flex-item {
    padding: 10px;
    flex: 50%;
}

.flex-item {
    padding: 10px;
    flex: 50%;
}


header {

    background-image: url('../img/euskalecheafondo.jpg');
    background-size: cover;
    height: 40em;
    color: #ffffff;
    text-align: center;

}
h1{
font-size: 26px;
font-family: Georgia, serif;
}
.aprendiendo{
color: #ffffff;
}
h2{
  font-size: 24px;
  font-family: Arial, sans-serif;
  background-color: #357e3d;
}

.imagencircular {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
h3{ 
 

}
.niveles{
  color: #CE2027;
  font-size: 20px;
  font-family: Georgia,serif;

}
.logo {

    width: 200px;
    height: 100px;
  
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}